@import 'normalize';

html, body {
	background-color: black;
	color: white;
	font-family: sans-serif;
	padding: 20px;
  line-height: 1.25rem;
  height: 100vh;
}

#app {
	height: 100vh;
}

ul {
	list-style-type: none;
}

a {
	color: white;
	text-decoration: none;
}

.title {
	&:hover {
		color: black;
	}
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#player-bg {
  background-color: rgb(10,10,10);
 	border: 1px solid rgb(15,15,15);
  height: 32px;
  width: 252px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#play-button {
	height: 14px;
	width: 12.2px;
	transform: translate(-10px);
	align-self: center;
}

#progress-bar-default {
	background-color: rgb(30,30,30);
	height: 6px;
	width: 160px;
	border: 1px solid rgb(15,15,15);
	border-radius: 1px;
	align-self: center;
	transform: translate(-3px);
}

#progress-bar {
	background-color: rgb(30,30,30);
	height: 6px;
	width: 60px;
	align-self: center;
	border-radius: 1px;
}

#timestamp {
	font-size: 0.7rem;
	width: 22px;
	align-self: center;
	transform: translate(4.5px);
}

#volume {
	height: 15px;
	align-self: center;
	transform: translate(11px);
}

#mute {
	height: 15px;
	align-self: center;
	transform: translate(-8px);
}

.show {
	visibility: visible;
}

.hide {
	visibility: hidden;
}

