body {
	background-color: black;
	color: white;
	font-family: sans-serif;
	padding: 20px;
  line-height: 1.25rem;
}

ul {
	list-style-type: none;
}

a {
	color: white;
	text-decoration: none;
}

.title {
	&:hover {
		color: black;
	}
}
